@import "helpers/variables"
@import "helpers/functions"

@import "components/buttons"

.app
  background-color: white
  box-sizing: border-box
  box-shadow: 0 0 em(4) rgba(0, 0, 0, .15)
  padding: em(24) 0
  width: em(984)

@import "layout/header"
@import "layout/add-prod-dialog"

// NOTE: this style is not used anywhere
.App-header
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white



.main
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: em(16)
  margin: 0 em(48)

.product-card
  background-color: white
  border: em(1) solid $c-black-8-a2
  display: flex
  flex-direction: column
  padding: em(8)
  position: relative

  &__menu
    background-color: inherit
    box-sizing: border-box
    display: flex
    flex-direction: column
    height: 100%
    left: 0
    opacity: 0
    padding: em(8 + 8 + 19) em(8) em(8)
    position: absolute
    top: 0
    transition:
      delay: 100ms
      duration: 250ms
      property: opacity, visibility
      timing-function: ease-out
    visibility: hidden
    width: 100%

    &_visible
      opacity: 1
      visibility: visible

    .button
      height: em(40)
      margin-bottom: em(8)

      &:last-of-type
        margin-bottom: 0

  &__top-section
    display: flex
    justify-content: space-between
    margin-bottom: em(8)

    .button
      color: $c-black-48
      padding: 0
      z-index: 9

  &__category
    font-size: em(14)
    margin: 0

  &__image-container
    align-items: center
    background-color: lighten(lightgray, 10%)
    display: flex
    height: em(192)
    justify-content: center
    overflow: hidden
    width: 100%

  &__image
    font-size: em(14)
    height: inherit

  &__product-name
    font-size: em(15)
    margin: 0
    margin-top: em(12)
    text-align: center

  &__warehouse-info
    align-items: flex-end
    display: flex
    justify-content: space-between
    flex: auto
    font-size: em(15)
    margin: 0
    margin-top: em(12)

  &__items-left
    font-weight: bold





.fullscreen-wrapper
  align-items: center
  background-color: rgba(0,0,0,.4)
  display: flex
  height: 100%
  justify-content: center
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 99
