.header
  margin-bottom: em(32)

.header__title
  align-items: center
  display: flex
  justify-content: space-between
  margin: 0 em(48) em(12)

.header__control
  background-color: $c-accent
  align-items: stretch
  display: flex
  justify-content: flex-start
  padding: em(8) em(48)

.header__page-name
  color: $c-black-48
  font-size: em(32)
  margin: 0

.logo
  background-color: lightgray
  border-radius: em(8)
  padding: em(18) em(64)

.logo__inscription
  font-size: em(24)
  font-style: italic
  color: gray
  letter-spacing: em(2)
  margin: 0
  text-transform: uppercase

.catalog
  background-color: white
  padding: em(4) em(16)
  margin-right: em(16)

.catalog__title
  color: $c-black-32
  margin: 0

.search
  border: em(1) solid $c-black-8-a2
  flex: auto
  margin-right: em(16)

.search__input
  outline: none
  border: none
  color: $c-black-32
  font-size: em(16)
  box-sizing: border-box
  padding: em(8) em(12)
  margin: 0
  height: 100%
  width: 100%
